div,
img,
table,
textarea {
  box-sizing: border-box;
}

a {
  color: #72BBDD;
  text-decoration: none;
}

a > img {
  vertical-align: middle;
}

table {
  background-color: #FFF;
  border-collapse: collapse;
  width: 100%;
}

table,
textarea {
  border-radius: 4px;
}

table td,
textarea {
  padding: 0.5em;
  border: 1px solid #CCC;
}

body {
  background-color: #F4F4F4;
  font-family: sans-serif;
}

.light-above,
.header,
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.card {
  background-color: #FFF;
  padding: 1em;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #2F2F2F;
  height: 40px;
}
.header .logo {
  font-size: 1.5em;
  margin-left: 0.25em;
}
.header .logo a {
  color: #FFF;
  text-decoration: none;
}
.header .logo a:hover {
  color: #AAA;
}

.sub-header {
  display: none;
}

.header.front-page {
  display: block;
  background-color: transparent;
  font-size: 2em;
  text-align: center;
  padding: 1em 0 2em 0;
  box-shadow: none;
  height: auto;
}
.header.front-page .logo {
  margin-bottom: 0.25em;
}
.header.front-page .logo a {
  color: #000;
  text-decoration: none;
}
.header.front-page .logo a:hover {
}

.sub-header.front-page {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.social-sharing-icons {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 1em;
}
.social-sharing-icons li {
  display: inline;
  margin-left: 1rem;
}
.header.front-page .social-sharing-icons li:first-child {
  margin-left: 0;
}
.social-sharing-icons li a img {
  width: 30px;
  height: 30px;
}

.footer {
  margin-top: 1em;
}

.centered-content-container {
  max-width: 1140px;
  padding: 0 1em;
  margin: 0 auto;
}

.tool-card {
  display: inline-block;
  text-align: center;
  padding-bottom: 0;
}
.tool-card a {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
}
.tool-card a .thumbnail {
  display: block;
  width: 320px;
  height: 180px;
  border: 1px solid #CCC;
}
.tool-card .tool-name {
  padding: 1em 0;
}

@media (min-width: 720px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 0 0.75rem;
  }
}